body.login {
background-image: url('../img/ImagemBG.png');
  background-repeat: no-repeat;
  background-size: cover; /* ou 'contain', se quiser mostrar toda a imagem */
  background-position: center center;
}

body.cadastro {
  background-image: url('../img/ImagemBG.png');
  background-repeat: no-repeat;
  background-size: cover; /* ou 'contain', se quiser mostrar toda a imagem */
  background-position: center center;
}

body.editar {
  background-color: rgb(58, 58, 58);
}

body.perfil{
   background-color: rgb(58, 58, 58);
}
body.home{
   background-color:  rgb(58, 58, 58);
}

body.comprovante{
   background-color:  rgb(58, 58, 58);
}
/* #1e293b; */
