body.login {
  background-image: url('../img/ImagemBG.png');
  background-repeat: no-repeat;
  background-size: cover;        /* <<< AQUI a solução */
  background-position: center center;
  background-attachment: fixed;  /* opcional, mas deixa igual ao da sua tela com blur */
}

body.cadastro {
   background-image: url('../img/ImagemBG.png');
  background-repeat: no-repeat;
  background-size: cover;        /* <<< AQUI a solução */
  background-position: center center;
  background-attachment: fixed;  /* opcional, mas deixa igual ao da sua tela com blur */
}

body.editar {
  background-color:#1e1e1e;
}

body.perfil{
   background-color:#1e1e1e;
}
body.home{
   background-color:  #1e1e1e;
}

body.comprovante{
   background-color: #1e1e1e;
}

body.list{
   background-color:  #1e1e1e;
}

body.cursoList{
   background-color:  #1e1e1e;
}

body.cursoForm{
   background-color:  #1e1e1e;
}
/* #1e293b;  rgb(58, 58, 58)*/

body.listUsuario{
   background-color:  #1e1e1e;
}

body.passwordChange{
     background-image: url('../img/ImagemBG.png');
  background-repeat: no-repeat;
  background-size: cover;        /* <<< AQUI a solução */
  background-position: center center;
  background-attachment: fixed;  /* opcional, mas deixa igual ao da sua tela com blur */
}