.expand-button-box {
  position: fixed;
  top: 20%;
  z-index: 999;
}

/* Lado direito */
.expand-button-box.right-box {
  right: 0;
}

/* Lado esquerdo */
.expand-button-box.left-box {
  left: 0;
}

.expand-button-content {
  width: 50px;
  height: auto;
  overflow: hidden;
  background-color: #0dcaf0;
  color: white;
  border-radius: 0 8px 8px 0; /* padrão para o lado esquerdo */
  cursor: pointer;
  transition: width 0.4s ease 0.5s;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Bordas específicas para cada lado */
.right-box .expand-button-content {
  border-radius: 8px 0 0 8px;
}

.left-box .expand-button-content {
  border-radius: 0 8px 8px 0;
}

/* Expansão da caixa */
.expand-button-box:hover .expand-button-content {
  width: 600px;
  transition: width 0.4s ease 0s;
}

/* Rótulo vertical */
.expand-label {
  writing-mode: vertical-lr;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

/* Detalhes expansíveis */
.expand-details {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  padding: 0 10px;
}

.expand-button-content:hover .expand-details {
  max-height: 500px;
  transition: max-height 0.5s ease 0.4s;
}

/* Tabela */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #333;
  padding: 5px 10px;
  text-align: center;
}

.table thead {
  background-color: #343a40;
  color: white;
}

.left-box .green-panel {
  background-color: #198754; 
  color: white;
  border-radius: 0 8px 8px 0;
}

/* Estilo das informações do comprovante */
.comprovante-card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.comprovante-card:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.comprovante-info p {
  margin: 5px 0;
  font-size: 0.9rem;
}

/* Botão */
.comprovante-card .btn {
  background-color: #f8f9fa;
  color: #212529;
  border: none;
}

.comprovante-card .btn:hover {
  background-color: #e2e6ea;
}

.scroll-container {
  padding-right: 10px;
  height: 350px;
  overflow-y: scroll;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  height: 10px; 
  padding: 10px;
}

/* Personalizando a parte da barra de rolagem que é arrastada (thumb) */
.scroll-container::-webkit-scrollbar-thumb {
  background-color: #3f6d51;
  border-radius: 10px; 
  
}

/* Personalizando o trilho da barra de rolagem */
.scroll-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Personalizando a parte do trilho que fica ao redor da "thumb" */
.scroll-container::-webkit-scrollbar-track-piece {
  background: #198754;
}

/* Personalizando o canto da barra de rolagem, onde a rolagem se encontra com a borda do contêiner */
.scroll-container::-webkit-scrollbar-corner {
  background: #ccc;
}